.wrap{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    border: 1px solid black;
}
.main1{
    height: 80px;
    width: 100%;
    display: flex;
    column-gap: 5px;
}
.logo{
    width: 20%;
    height: 100%;
    background: #7a7a79;
}
.header{
    width: 80%;
    height: 100%;
    background: #7a7a79;
}
.main2{
    height: 450px;
    width: 100%;
    display: flex;
    row-gap: 5px;
    column-gap: 5px;

}
.main3{
    height: 120px;
    width: 100%;
    background:#7a7a79;
    display: flex;
    row-gap: 5px;
    column-gap: 5px;
}
.block1{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    column-gap: 5px;
}
.block2{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    column-gap: 5px;
}
.bath_ad{
    width: 100%;
    height: 30%;
    display: flex;
    row-gap: 5px;
    column-gap: 5px;
}
.bath{
    width: 70%;
    height: 100%;
    background: #7a7a79;
}
.ad{
    width: 30%;
    height: 100%;
    background: #7a7a79;
}
.types_related{
    width: 100%;
    height: 70%;
    display: flex;
    row-gap: 5px;
    column-gap: 5px;
}
.types{
    width: 30%;
    height: 100%;
    background: #7a7a79;
}
.related{
    width: 70%;
    height: 100%;
    background: #7a7a79;
}
.nav{
    height: 70%;
    width: 100%;
    background: #7a7a79;
}
.store_tools{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;

}
.store{
    width: 100%;
    height: 50%;
    background: #7a7a79;
}
.tools{
    width: 100%;
    height: 50%;
    background: #7a7a79;
}
.tools_store1{
    display: none;
}
.txt{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d06868;
}


@media screen and (max-width: 800px){
    body{
        display: flex;
        justify-content: center;
    }
    .wrap{
        height: 100%;
        width: 50%;
    }
    .main2{
        flex-direction: column;
        height: 800px;
    }
    .main1{
        height: 60px;
    }
    .tools_store1{
        display: flex;
        column-gap: 5px;
    }
    .tools{
        height: 80px;
        width: 100%;
        background: #7a7a79;
        display: flex;

    }
    .block1,.block2{
        width: 100%;
    }
    .nav{
        height: 100%;
    }
    .block1{
        height: 100px;
    }
    .block2{
        display: flex;
        flex-direction: column;
    }
    .types_related{
        flex-direction: column;
    }
    .types,.related{
        width: 100%;
    }
    .tools_store1{
        display: flex;
        order: 1;
    }
    .store{
        height: 100%;
    }
    .store_tools{
        display: none;
    }
    .bath_ad{
        height: 150px;
    }
    .types{
        width: 100%;
        height: 70%;
        background: #7a7a79;
    }
    .related{
        width: 100%;
        height: 30%;
        background: #7a7a79;
    }


}






