p{
    color: #547e8d;background-color: #e0ad31
}
ul{
    color: brown;background-color: #547e8d
}
h1{
    color:darkcyan;background-color: silver;
    text-align: center;
}

a{
    text-decoration: none; color: black; background: darkcyan;
}
h2{
    text-align: center;
}
