.main_container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    row-gap: 10px;
}
.one{
    width: 100%;
    height: 150px;
    background: #e0ad31;
}
.two{
    width: 100%;
    /*border: 2px solid black;*/
    display: flex;
    column-gap: 10px;
    row-gap: 10px;
}
.block1{
    width: 75%;
    height: 400px;
    background: #2828ad;
}
.block2{
    width: 25%;
    height: 400px;
    background: #257c7c;
}
.br{
    border-radius: 15px;
}
.one,.block1,.block2{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 800px){
    .two{
       display: flex;
        flex-direction: column;
    }
    .block1,.block2{
        width: 100%;
    }
    .block2, .one{
        height: 100px;
    }

    }

